.FlipperApp {
    width: 100%;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.FlipperApp-title {
    margin-top: 70px;
    color: white;
    font-size: 70px;
    text-shadow: 2px 3px 0px #898999;
}